<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lexend+Deca:wght@600&display=swap" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
  <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
  <script src="https://unpkg.com/scrollreveal"></script>
  <script src="sweetalert2.all.min.js"></script>
  <link rel="stylesheet" href="css/style.css">
  <link rel="icon" href="img/oneyes.png">
  <title>OneYes</title>
</head>
<body>
  <button onclick="topFunction()" id="myBtn" title="Go to top"><img  src="/img/logo/up.png"></button>
  <!-- menubar -->
  <section id="title">
    <div class="container-fluid">
      <!-- Nav Bar -->
      <nav class="navbar navbar-expand-lg navbar-dark">
        <img src="img/oneyes.png" width="200px" height="80px">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#service">Services</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#product">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#client">Clients</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#testimonials">Testimonials</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
</section>

<section id="home">
  <div class="container">
      <div class="row">
        <div class="col-lg-6">
            <h1 style="margin-top: 50px;">WE PROVIDE SOLUTIONS FOR YOUR BUSINESS</h1>
       <a class=" btn btnn1" href="#about">Get Started</a>
       <a class=" btn btnn2" href="#service">Our Services</a>
        </div>
        <div class="col-lg-6">
          <div class="aboutimg">
            <img  src="/img/team.png" alt="" height="400px" width="550px">
          </div>
      </div>
    </div>
  </div>
</section>


<section id="about">
  <div class="container">
    <h1>About Us</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="aboutimg">
          <img  src="/img/aboutus.png" alt="" height="400px" width="550px">
        </div>
      </div>
      <div class="col-lg-6">
        <p> If your mind thinks about mobile/website development, then we have created a niche for ourselves. We started in 2012 with just 3 employees and now have expanded ourselves to 50+ which shows about growth and quality of work that we did over the years.</p>
          <table>
            <tr>
              <td><div class="ab">
                <img  src="/img/logo/ab1.png" alt="" height="40px" width="40px">
              </div></td>
              <td> 
                <div class="aboutinfo">
                  <h4>Research and Analysis</h4>
                  <p>Proper research and analysis are done for efficient strategy and cost reduction. Flexibility is one of our key strengths and we are ready to negotiate according to the client’s requirements.</p>
                </div>
              </td>
            </tr>
            <tr>
              <td><div class="ab">
                <img  src="/img/logo/ab2.png" alt=""  height="40px" width="40px">
              </div></td>
              <td> 
                <div class="aboutinfo">
                <h4>Creative and Innovative Solutions</h4>
                <p>We have professionals who thinks out of the box and provide efficient and innovative solutions.</p>
              </div>
              </td>
            </tr>
            <tr>
              <td><div class="ab">
                <img  src="/img/logo/ab3.png" alt="" height="40px" width="40px">
              </div></td>
              <td> 
                <div class="aboutinfo">
                <h4>Agile Method</h4>
                <p>Agile methodologies are approaches to product development that are aligned with the values ​​and principles described in the Agile Manifesto for software development.</p>
              </div>
              </td>
            </tr>
          </table>
      </div>
    </div>
  </div>
</section>



<section id="service">
  <div class="container">
    <h1>Service</h1>
    <div class="row r1">
      <div class="col-lg-5 c1">
        <img  src="/img/logo/a1.png">
        <h4>Web Development</h4>
        <p>We build a distinct agile approach in web development & design services to meet all the business needs and stay out from competitors. Our website development outcome is creating abiding impressions..</p>
      </div>
      <div class="col-lg-5 c2">
        <img  src="/img/logo/a2.png">
        <h4>Digital Marketing</h4>
        <p>If you want to have creative web design services, then you’ve landed at the right place! At OneYes Infotech Solutions, we have designed different websites for our esteemed clients.</p>    
    </div>
    </div>
    <div class="row r2">
      <div class="col-lg-5 c1">
        <img  src="/img/logo/a3.png">
        <h4>Web Design</h4>
        <p>In today’s world, the internet plays a huge part in everyone’s life. A wide audience is available on the internet, who continuously searching for products or services.</p>
      </div>
      <div class="col-lg-5 c2">
        <img  src="/img/logo/a4.png">
        <h4>Mobile App Development</h4>
        <p>You might have a business that you wish to take to the next level. In the age of the internet, it’s possible!
          Your business can have a presence online within your compact mobile phone.</p>    
      </div>
  </div>
</div>
</section>





<section id="info">
  <div class="container">
    <h1>Why choose us?</h1>
    <div class="row">
      <p>Here are some of the reasons we think you should consider working with Oneyes Infotech Solutions. As your full service web development, online marketing and web hosting company:</p>
      <div class="col-lg-4">
        
        <div class="details" >
          <img  src="/img/logo/s1.png">
          <br>
          <h4>We Create Experiences & Attractions</h4>
          <p>We craft purposeful websites, striving for simplicity to deliver top-tier digital products. Recognized among the top web design companies, we prioritize audience satisfaction.</p>
        </div>
      </div>
      <div class="col-lg-4">
    
        <div class="details">
          <img  src="/img/logo/s2.png">
          <br>
          <h4>We Ask, Listen and Understand</h4>
          <p>We start every web project by deeply understanding your identity, purpose, and values. This guides us in crafting strategic web designs that convey your message and showcase your brand's uniqueness.</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="details">
          <img  src="/img/logo/s3.png">
          <br>
          <h4>Hundreds of Clients & Years of Experience</h4>
          <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
        </div>
      </div>
    </div>
    <!-- <div class="experience">
        <div class="expo" >
          <h1>50</h1>
          <h6>Clients</h6>
        </div>
        <div class="expo">
          <h1>500</h1>
          <h6>Projects</h6>
        </div>
        <div class="expo">
          <h1>1364</h1>
          <h6>Hours Of Support</h6>
        </div>
        <div class="expo">
          <h1>50</h1>
          <h6>Hard Workers</h6>
        </div>
  </div> -->
</section>


<section id="product">
  <div class="container">
    <h1>Products</h1>
    <div class="row r1">
      <div class="col-lg-5">
        <div class="productinfo">
          <h4>E-Commerce</h4>
          <p>Technology and communication advancements have revolutionized global commerce, enabling round-the-clock trading worldwide. Ecommerce facilitates companies in reaching clients globally. We're the premier Ecommerce Website Development service in Chennai, catering to your needs.</p>
        </div>
        <div class="productinfo">
          <h4>Edu-Tech</h4>
          <p>Our premium product, the Online Education Portal, offers end-to-end management solutions for all educational institute stakeholders. It provides flexibility, allowing students to study at their own pace and teachers to share e-assessments and reports conveniently.</p>
        </div>  
    </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-5">
        <div class="aboutimg">
        <img  src="/img/product1.png" height="400px" width="550px">
      </div>
    </div>
    </div>
    <div class="row r2">
      <div class="col-lg-5">
        <div class="productimg">
        <img  src="/img/product2.png" height="400px" width="550px"> 
      </div>
    </div>
      <div class="col-lg-2">

      </div>
      <div class="col-lg-5">
        <div class="productinfo">
          <h4>CRM</h4>
          <p>We offer enterprise-grade cloud-based CRM software that delivers comprehensive customer experience management across various communication channels. Our solution automates vital business activities like lead capturing, distribution, ticket management, and more. Easily configurable to meet your unique business needs.</p>
        </div>
        <div class="productinfo">
          <h4>Hire-Connect</h4>
          <p>Empower your talent acquisition team to create engaging virtual hiring events that boost conversions. Our portal facilitates technical interviews with subject-related questions, group discussions, and face-to-face interviews. HR can seamlessly select qualified candidates and issue offer letters directly from our platform.</p>
        </div>
      </div>
  </div>
    </div>
</section>


<section id="client">
  <div class="container">
    <h1>Clients</h1>
    <div class="slider slideanim">
      <div class="slide-track">
        <div class="slide">
          <img height="100px" src="/img/images/t2.png" alt="">
          <img height="100px" src="/img/images/t6.png" alt="">
          <img height="100px" src="/img/images/t11.png" alt="">
          <img height="100px" src="/img/images/t12.png" alt="">
          <img height="100px" src="/img/images/t13.png" alt="">
          <img height="100px" src="/img/images/t14.png" alt="">
          <img height="100px" src="/img/images/t15.png" alt="">
          <img height="100px" src="/img/images/t16.png" alt="">
          <img height="100px" src="/img/images/t5.png" alt="">
          <img height="100px" src="/img/images/t1.png" alt="">
  
        </div>
        <div class="slide">
          <img height="100px" src="/img/images/t17.png" alt="">
          <img height="100px" src="/img/images/t18.png" alt="">
          <img height="100px" src="/img/images/t19.png" alt="">
          <img height="100px" src="/img/images/t20.png" alt="">
          <img height="100px" src="/img/images/t21.png" alt="">
          <img height="100px" src="/img/images/t22.png" alt="">
          <img height="100px" src="/img/images/t23.png" alt="">
          <img height="100px" src="/img/images/t24.png" alt="">
          <img height="100px" src="/img/images/t3.png" alt="">
          <img height="100px" src="/img/images/t9.png" alt="">
          <img height="100px" src="/img/images/t10.png" alt="">
    

        </div>
        <div class="slide">
          <img height="100px" src="/img/images/t25.png" alt="">
          <img height="100px" src="/img/images/t26.png" alt="">
          <img height="100px" src="/img/images/t27.png" alt="">
          <img height="100px" src="/img/images/t28.png" alt="">
          <img height="100px" src="/img/images/t29.png" alt="">
          <img height="100px" src="/img/images/t30.png" alt="">
          <img height="100px" src="/img/images/t31.jpg" alt="">
          <img height="100px" src="/img/images/t32.gif" alt="">
          <img height="100px" src="/img/images/t4.png" alt="">
          <img height="100px" src="/img/images/t8.png" alt="">

        </div>
      </div>        
      <div class="slide-track">
          <div class="slide">
            <img height="100px" src="/img/images/t2.png" alt="">
            <img height="100px" src="/img/images/t6.png" alt="">
            <img height="100px" src="/img/images/t11.png" alt="">
            <img height="100px" src="/img/images/t12.png" alt="">
            <img height="100px" src="/img/images/t13.png" alt="">
            <img height="100px" src="/img/images/t14.png" alt="">
            <img height="100px" src="/img/images/t15.png" alt="">
            <img height="100px" src="/img/images/t16.png" alt="">
            <img height="100px" src="/img/images/t5.png" alt="">
            <img height="100px" src="/img/images/t1.png" alt="">
          </div>
          <div class="slide">
            <img height="100px" src="/img/images/t17.png" alt="">
            <img height="100px" src="/img/images/t18.png" alt="">
            <img height="100px" src="/img/images/t19.png" alt="">
            <img height="100px" src="/img/images/t20.png" alt="">
            <img height="100px" src="/img/images/t21.png" alt="">
            <img height="100px" src="/img/images/t22.png" alt="">
            <img height="100px" src="/img/images/t23.png" alt="">
            <img height="100px" src="/img/images/t24.png" alt="">
            <img height="100px" src="/img/images/t3.png" alt="">
            <img height="100px" src="/img/images/t9.png" alt="">
            <img height="100px" src="/img/images/t10.png" alt="">
      
  
          </div>
          <div class="slide">
            <img height="100px" src="/img/images/t25.png" alt="">
            <img height="100px" src="/img/images/t26.png" alt="">
            <img height="100px" src="/img/images/t27.png" alt="">
            <img height="100px" src="/img/images/t28.png" alt="">
            <img height="100px" src="/img/images/t29.png" alt="">
            <img height="100px" src="/img/images/t30.png" alt="">
            <img height="100px" src="/img/images/t31.jpg" alt="">
            <img height="100px" src="/img/images/t32.gif" alt="">
            <img height="100px" src="/img/images/t4.png" alt="">
            <img height="100px" src="/img/images/t8.png" alt="">
          </div>
        </div>
       </div>
    </div>
</section>


<section id="testimonials">
  <div class="container">
    <h1>Testimonials</h1>
    <div class="swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t14.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t15.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t16.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t17.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t18.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
          <div class="swiper-slide">
            <div class="testo">
              <img height="100px" src="/img/images/t20.png" alt="">
              <h4>Hundreds of Clients & Years of Experience</h4>
              <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testo">
              <img height="100px" src="/img/images/t21.png" alt="">
              <h4>Hundreds of Clients & Years of Experience</h4>
              <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testo">
              <img height="100px" src="/img/images/t22.png" alt="">
              <h4>Hundreds of Clients & Years of Experience</h4>
              <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testo">
              <img height="100px" src="/img/images/t23.png" alt="">
              <h4>Hundreds of Clients & Years of Experience</h4>
              <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testo">
              <img height="100px" src="/img/images/t24.png" alt="">
              <h4>Hundreds of Clients & Years of Experience</h4>
              <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="testo">
              <img height="100px" src="/img/images/t25.png" alt="">
              <h4>Hundreds of Clients & Years of Experience</h4>
              <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
            </div>
        </div>
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t26.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t27.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t28.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="testo">
            <img height="100px" src="/img/images/t2.png" alt="">
            <h4>Hundreds of Clients & Years of Experience</h4>
            <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
          </div>
        </div>
          <div class="swiper-slide">
            <div class="testo">
              <img height="100px" src="/img/images/t19.png" alt="">
              <h4>Hundreds of Clients & Years of Experience</h4>
              <p>Since 2012, Oneyes Infotech Solutions has empowered countless businesses to thrive in online marketing. Leveraging our expertise, we propel clients to new heights with results-oriented solutions.</p>
            </div>
          </div>
      </div>
    </div>
    </div>
</section>





<section id="contact">
  <div class="container">
    <h1>Contact Us</h1>
    <div class="row">
      <div class="col-lg-6">
        <div class="aboutimg">
          <img  src="/img/contactus.png" alt="" height="400px" width="550px">
        </div>
      </div>
      <div class="col-lg-6">
        <div class="contactinfo">
          <center>
            <form  action="/contact" method="post">
              <input type="text" placeholder="Name" name="name"required>
              <br>
              <input type="text" placeholder="Email" name="email"required >
              <br>
              <input type="text" placeholder="Subject" name="subject"required >
              <br>
              <textarea type="text" placeholder="Message" name="message" rows="4"required></textarea>
              <br>
              <button onsubmit="popUp()" class="btn btnn">Send Message</button>
            </form>
          </center>
      </div>
      </div>
    </div>
  </div>
</section>



<section id="oneyes">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="oneyesinfo">
          <h1>ONEYES INFOTECH SOLUTIONS</h1>
          <p>You might have a business that you wish to take to the next level. In the age of the internet, it’s possible! Your business can have a presence online. We at OneYes Infotech Solutions, provide you with a custom-made applications that fulfill your needs.Build your site with us!.</p>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="aboutimg">
          <img  src="/img/oneyesinfo.png" alt="" height="300px" width="350px">
        </div>
    </div>
  </div>
</div>
</section>


<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h2>Useful Links</h2>
        <div class="link">
          <a href="#about">About</a>
          <a href="#services">Services</a>
          <a href="#product">Product</a>
          <a href="#client">Client</a>
          <a href="#testimonals">Testimonials</a>
        </div>
        </div>
        <div class="col-lg-4">
          <h2>Visit Us</h2>
          <div class="link">
            <a href="https://twitter.com/oneyes_tech"><img  src="/img/logo/twitter.png" height="30px"></a>
            <a href="https://www.facebook.com/OneYesTechnologies/"><img  src="/img/logo/facebook.png"  height="30px"></a>
            <a href="https://www.instagram.com/oneyes_technologies/"><img  src="/img/logo/insta.png"  height="30px"></a>
            <a href="https://www.linkedin.com/in/oneyestechnologies/"><img  src="/img/logo/linked.png"  height="30px"></a>
    
          </div>
        </div>
      <div class="col-lg-3">
        <h2>Contact</h2>
        <h6>Email: info@oneyesinfotechsolutions.co</h6>
      </div>

    </div>
    <br>
    <center>
      <h6>© Copyright Oneyes Infotech Solutions. All Rights Reserved</h6>
    </center>
  </div>
</section>



<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script>
  ScrollReveal({
   reset:false,
   distqnce:"20px",
   duration:2500,
   delay:400
  })
  ScrollReveal().reveal('.container',{
    delay: 150,
    origin: "right",
    distance: "20px"
  }); 
  const swiper = new Swiper('.swiper-container', {
  effect:"coverflow",
  grabCursor: true,
  centeredSlides:true,
  slidesPerView: 'auto',
  coverflowEffect:{
    rotate:0,
    stretch:0,
    depth: 100,
    modifier: 2,
    slideShadows : false
  },
  loop:true,
});

$(document).ready(function(){
    $(".nav-link").click(function(){
      $(".navbar-collapse").collapse('hide');
    });
  });

let mybutton = document.getElementById("myBtn");

window.onscroll = function() {scrollFunction()};

function scrollFunction() {
  if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
    mybutton.style.display = "block";
  } else {
    mybutton.style.display = "none";
  }
}

function topFunction() {
  document.body.scrollTop = 0;
  document.documentElement.scrollTop = 0;
}
  </script>
</body>

</html>